extends ../shared/template
block content
  h2 Profile
<<<<<<< HEAD
  .panel.panel-primary
    .panel-heading
      h3.panel-title #{client.name || client.username || client.displayName || client.email}'s Profile
    .panel-body
      .col-lg-2.col-xs-12
        img.img-responsive.img-thumbnail(src=client.primaryPhoto, style="max-width:200px")
        p= client.tagline
      .col-lg-6.col-xs-12
          h2= client.name
          p= client.email
          p= client.about
          p Age: &nbsp; #{client.age}
          p Category: &nbsp; #{client.category}
          p Looking for: &nbsp; #{client.seeking}
          p Phone: &nbsp; #{client.phone}
      .col-lg-2.col-xs-12
        if client._id.toString() !== user._id.toString()
          a#buyGift.btn.btn-primary(href='/gift/#{client._id}') Send a Gift to #{client.name || client.username || client.displayName}
          br
          br
          form(role='form', method='post', action='/wink')
            input(type='hidden', name='receiverId', value='#{client._id}')
            button.btn.btn-primary(type='submit') Send a Wink to #{client.name || client.displayName}
  .panel.panel-primary
    .panel-heading
      h3.panel-title Photos
    .panel-body
      if client.photos.length === 0
        h4 This user hasn't uploaded any photos.
      else
        each photo in client.photos
          .photo
            img.img.img-thumbnail.img-responsive(src=photo)

  .panel.panel-default
    img(src=client.photo)
      .panel-body
        form(role='form', method='post', action='/messages/#{client._id}')
          .row
            .col-xs-6
              .radio
                label
                  input(type='radio' name='mtype' value='text' checked=true)
                  span Text
              .radio
                label
                  input(type='radio' name='mtype' value='email')
                  span Email
              .radio
                label
                  input(type='radio' name='mtype' value='internal')
                  span Internal
            .col-xs-6
              .form-group
                label(for='message') Message
                textarea.form-control#message(name='message', autofocus=true)
              .form-group
                button.btn.btn-info.btn-sm(type='submit') Send Message
block scripts
