extends ../shared/template
block content
  body.bg
  h2 Gifts
  .panel.panel-default
    table.table.table-hover.table-bordered#giftTable
      thead
        th Name
        th Photo
        th Price
        th Buy
      tbody
        each item in items
          tr
            td= item.name
            td#itemPhoto(style='background-image: url("#{item.photo}");')
            td= item.price
            td
              form(action='/purchase/#{receiverId}/#{item._id}', method='post')
                script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key=key, data-image='/img/heart.png', data-name='FictionFix', data-amount=Math.round((item.price * 100)))


block scripts
  script(src='/js/user/editProfile.js')
